body {
    margin: 0;
    font-family: 'Montserrat';
}
section {
    align-items: center;
}

h1 {
    font-size: xx-large;
}

h2{
    font-size: x-large;
}

li {
    margin-bottom: 2%;
}

p{
    font-size: large;
}

#navigator {
    display: flex;
    justify-content: flex-end;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#myButton {
    margin: 1%;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
}

.menu {
    margin: 1%;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    text-decoration: none;
}

.menu:hover {
    background-color: lightgray;
}

.menu a:link, .menu a:visited {
    color: white;
    text-decoration: none;
}

.rightContainer {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-right: 10%;
    margin-left: 2%;
}

.leftContainer {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 2%;
}

.leftContainer img, .rightContainer img {
    border-radius: 50%;
    max-width: 50%;
    max-height: 50%;
}

#intro {
    display: flex;
    background-color: #ccd4c7;
    text-align: right;
}

#profileDesc {
    width: 50%;
    justify-content: flex-end;
    margin-right: 10%;
    margin-left: 2%;
}

#education {
    display: flex;
    background-color: #ffffff;
    color:#695D46;
}

#educationDesc {
    width: 50%;
    margin-left: 10%;
    margin-right: 2%;
}

#leadership {
    background-color: #e6e5e1;
    display: flex;
}

#leadership li {
    margin-bottom: 0;
}

#leadershipDesc {
    width: 50%;
    margin-right: 10%;
    margin-left: 2%;
}

#award {
    display: flex;
    background-color: #ffffff;
    color:#695D46;
}

#awardDesc {
    margin-left: 10%;
    margin-right: 2%;
}

#workingExperience {
    display: flex;
    background-color: #e6e5e1;
    color: black;
}

#workingDesc {
    width: 50%;
    text-align: left;
    margin-right: 10%;
    margin-left: 2%;
}

#contact {
    background-color: #1b262c;
    color: white;
    text-align: center;
}

#intro, #education, #leadership, #award, #workingExperience, #contact {
    padding: 5%;
}

#profileDesc, #educationDesc, #leadershipDesc, #awardDesc {
    max-width: 50%;
}

button {
    padding : 2% 5%;
    background-color : darkgray;
    color : white;
    font-size: large;
}